.navbarText {
  // top: 0.43%;
  // bottom: 99.33%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #000000;
}

.grayPartText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.grayPartText2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
