@import "./extend";
@import "./variables";
@import "./mixin";

.bannerBluePart {
  background: linear-gradient(180deg, #ffffff 0%, #e3f2f7 100%);

  //navbar *******************************
  .text {
    font-family: "Inter";
  }

  .navbarText {
    @include generalTextProperty(
      "Inter",
      normal,
      500,
      16px,
      18px,
      -0.03em,
      #000000
    );
  }

  .tryBtn {
    box-shadow: 0px 3px 7px 1px rgba(125, 74, 234, 0.2);
    background-color: $primary-color;
    border-radius: $border;
  }

  //header (middle part) *********************
  .headerDiv {
    @include generalTextProperty(
      "Poppins",
      normal,
      600,
      72px,
      80px,
      -0.03em,
      #000000
    );
  }

  //text 
  .textDiv {
    @include generalTextProperty(
      "Poppins",
      normal,
      400,
      30px,
      44px,
      -0.015em,
      #000000
    );
  }

  .try2Btn {
    background: $primary-color;
    box-shadow: 0px 5px 10px 2px rgba(125, 74, 234, 0.27);
    border-radius: $border;
    @include generalTextProperty(
      "Inter",
      normal,
      500,
      18px,
      22px,
      -0.03em,
      #ffffff
    );
  }

  .bannerImageShadow {
    background: linear-gradient(
      239.75deg,
      rgba(255, 255, 255, 0.7) 1.2%,
      rgba(255, 255, 255, 0) 70.51%
    );
  }
}

//gray part ***********************************
.bannerGrayPart {
  .p1 {
    @include generalTextProperty(
      "Poppins",
      normal,
      600,
      72px,
      80px,
      -0.03em,
      #ffffff
    );
  }

  .p2 {
    @include generalTextProperty(
      "Inter",
      normal,
      500,
      16px,
      22px,
      -0.03em,
      #ffffff
    );
  }

  .p3 {
    @include generalTextProperty(
      "Poppins",
      normal,
      600,
      34px,
      44px,
      -0.015em,
      #ffffff
    );
  }
}
