@import "./extend";
@import "./variables";

.bannerBluePart {
  background: linear-gradient(180deg, #ffffff 0%, #e3f2f7 100%);

  .text {
    font-family: "Inter";
  }

  .text1 {
    @extend .navbarText;
    margin-right: 9.5px;
  }

  .text2 {
    @extend .navbarText;
    margin-left: 34.5px;
    margin-right: 30px;
  }

  .text3 {
    @extend .navbarText;
    margin-right: 30px;
  }

  .text4 {
    @extend .navbarText;
    margin-right: 371px;
  }

  .text5 {
    @extend .navbarText;
    margin-right: 30px;
  }

  .tryBtn {
    width: 121px;
    height: 36px;
    box-shadow: 0px 3px 7px 1px rgba(125, 74, 234, 0.2);
    background-color: $primary-color;
    color: white;
    border-radius: $border;
  }

  //header
  .headerDiv {
    margin-top: 99px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    width: 486px;
    height: 160px;
    letter-spacing: -0.03em;
    color: #000000;
  }

  //text
  .textDiv {
    margin-top: 20px;
    width: 1128px;
    height: 88px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: #000000;
  }

  .bannerImageShadow {
    background: linear-gradient(
      239.75deg,
      rgba(255, 255, 255, 0.7) 1.2%,
      rgba(255, 255, 255, 0) 70.51%
    );
  }
}

//gray part
.bannerGrayPart {
  .grayText1 {
    .p1 {
      @extend .grayPartText;
    }

    .p2 {
      @extend .grayPartText2;
    }
  }

  .grayText2 {
    .p1 {
      @extend .grayPartText;
    }

    .p2 {
      @extend .grayPartText2;
    }
  }

  .grayText3 {
    .p1 {
      @extend .grayPartText;
    }

    .p2 {
      @extend .grayPartText2;
    }
  }

  .grayText4 {
    width: 344px;
    height: 132px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: #ffffff;
  }
}
